body {
  min-width: inherit;
  width: auto;
}

.mindplot-div-container {
  position: relative;
  height: 100vh !important;
}

.mindplot-div-container svg {
  font-size: 24px;
}

#root {
  height: 100%;
}

.MuiInputBase-root textarea,
.MuiInputBase-root input,
.MuiBox-root .MuiTypography-root,
.MuiBox-root .MuiButtonBase-root,
.MuiTooltip-popper .MuiTooltip-tooltip,
.MuiPaper-root .MuiTypography-root {
  font-size: 1.4rem;
}

#exportModal {
  z-index: 9999;
}

.form-div-center {
  margin: 0px 20px 10px 20px;
}

@page {
  margin: 1.5cm;
}

#printpng {
  max-height: 160mm;
  max-width: 280mm;
}

#printpngwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.undo-redo-toolbar {
  position: fixed;
  z-index: 1101;
  right: 7px;
  top: 9rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.undo-redo-toolbar button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.54);
}

.undo-redo-toolbar button:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
}