body {
  min-width: inherit;
  width: auto;
}

.mindplot-div-container {
  position: relative;
  height: 100vh !important;
}

.mindplot-div-container svg {
  font-size: 24px;
}

#root {
  height: 100%;
}

.MuiTooltip-popper .MuiTooltip-tooltip {
  font-size: 11px;
}

.MuiBox-root .MuiTypography-root {
  font-size: 12px;
}

.MuiToolbar-root .MuiTypography-root {
  font-size: 16px;
}

#exportModal {
  z-index: 9999;
}

.form-div-center {
  margin: 0px 20px 10px 20px;
}

@page {
  margin: 1.5cm;
}
#printpng{
  max-height: 160mm;
  max-width: 280mm;
}
#printpngwrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}