<div class="twelve cell" workflow="mindmap.list">
    <div class="row rigid-grid">
        <!-- Search bar -->
        <div class="four cell" ng-if="mindmaps.all.length">
            <autocomplete
                    workflow="mindmap.list"
                    options="searchbar.mindmaps"
                    ng-change="openPageFromSearchbar(selectedMindmap._id)"
                    ng-model="selectedMindmap">
            </autocomplete>
        </div>
    </div>
    <!-- 1D et 2D Création -->
    <div class="emptyscreen" ng-if="!mindmaps.all.length" workflow="mindmap.create">
        <h2 class="emptyscreen-header"><i18n>empty.mindmap.creation.title</i18n></h2>
        <img class="emptyscreen-image__mini" src="/mindmap/public/img/empty-mindmap.svg">
        <p class="emptyscreen-footer">
            <i18n>empty.mindmap.creation</i18n>
        </p>
        <a class="button" workflow="mindmap.create" ng-if="!mindmap || !mindmap._id" ng-click="newMindmap()">
            <i18n>mindmap.new</i18n>
        </a>
    </div>
    <!-- 1D et 2D Consultation -->
    <div class="emptyscreen" ng-if="!mindmaps.all.length" workflow-not="mindmap.create">
        <h2 class="emptyscreen-header"><i18n>empty.mindmap.consultation.title</i18n></h2>
        <img class="emptyscreen-image__mini" src="/mindmap/public/img/empty-mindmap.svg">
        <p class="emptyscreen-footer">
            <i18n>empty.mindmap.consultation</i18n>
        </p>
    </div>
    <div class="fallen dominos">
        <div class="item" ng-repeat="m in mindmaps.all">
            <section class="domino cyan">
                <div class="top" ng-click="openMindmap(m)">
                    <img class="absolute" skin-src="[[getMindmapThumbnail(m)]]" />
                </div>
                <div class="bottom">
                    <div class="content">
                        <div class="cell" ng-click="openMindmap(m)">
                            <strong>[[m.name]]</strong>
                            <br />[[m.owner.displayName]]
                            <br />[[formatDate(m.modified)]]
                        </div>
                    </div>
                </div>
                <span ng-show="canManageMindmap(m)">
                    <check-tool ng-model="m.selected" ng-click="$event.stopPropagation()" ></check-tool>
                </span>
            </section>
        </div>

    </div>

    <!-- Allows to display a confirm dialog before deleting a mindmap -->
    <div ng-if="display.confirmDeleteMindmap">
        <lightbox show="display.confirmDeleteMindmap" on-close="cancelRemoveMindmap()">
            <p><i18n>mindmap.delete.confirm</i18n></p>
            <p ng-repeat="mindmap in mindmaps.selection()">[[mindmap.name]]</p>
            <div class="row">
                <button class="right-magnet" ng-click="removeMindmap()"><i18n>remove</i18n></button>
                <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveMindmap()" />
            </div>
        </lightbox>
    </div>

    <!-- Allows to display the panel to manage share rights -->
    <div ng-if="display.showPanel">
        <lightbox show="display.showPanel" on-close="display.showPanel = false;">
            <share-panel app-prefix="'mindmap'" resources="mindmap"></share-panel>
        </lightbox>
    </div>
</div>

<section class="toggle-buttons" ng-class="{ hide: mindmaps.selection().length === 0 }">
    <div class="toggle">
        <div class="row">
            <resource-right name="manage" resource="mindmaps.selection()" class="cell">
                <button ng-if="mindmaps.selection().length === 1" ng-click="editMindmap(mindmaps.selection()[0], $event)">
                    <i18n>properties</i18n>
                </button>
            </resource-right>
            <resource-right name="manage" resource="mindmaps.selection()" class="cell">
                <button workflow="mindmap.publish" ng-if="mindmaps.selection().length === 1" library-resource="mindmaps.selection()[0]">
                    <i18n>bpr.publish</i18n>
                </button>
            </resource-right>
            <button ng-if="mindmaps.selection().length === 1" ng-click="printMindmap(mindmaps.selection()[0], $event)">
                <i18n>print</i18n>
            </button>
            <resource-right name="manage" resource="mindmaps.selection()" class="cell">
                <button ng-click="shareMindmap(mindmaps.selection(), $event)">
                    <i18n>share</i18n>
                </button>
            </resource-right>
            <resource-right name="manage" resource="mindmaps.selection()" class="cell">
                <button ng-click="display.confirmDeleteMindmap = true">
                    <i18n>remove</i18n>
                </button>
            </resource-right>
        </div>
    </div>
</section>
