<section class="nine cell twelve-mobile">


    </div>
    <div>
        <article ng-if="vm.folders.length != 0 || vm.mindmapsItem.length != 0">
            <div class="icons-view ng-scope">
                <div class="fallen dominos" class="element mini-block-container">
                    <div ng-repeat="folder in vm.folders ">
                        <explorer ng-model="folder.selected" on-open="vm.openFolder(folder)"
                                  ng-change="vm.selectFolder()">

                            <a class="container" draggable="false">
                                <i class="folder-large" dragstart="vm.drag(folder, $originalEvent)"
                                   dragdrop="vm.dropToFolder(folder, $originalEvent)"
                                   dropcondition="vm.dropCondition(folder)"></i>
                            </a>

                            <legend>
                                <a>
                                    <span>[[folder.name]]</span>
                                </a>
                                <a class="author"><strong>[[folder.ownerName]]</strong></a>
                            </legend>


                        </explorer>


                    </div>
                </div>
            </div>
            <div class="fallen dominos">
                <div class="item" ng-repeat="mindmap in vm.mindmapsItem" dragstart="vm.drag(mindmap, $originalEvent)"
                     dragdrop="vm.dropToFolder(mindmap, $originalEvent)"
                     dropcondition="vm.dropCondition(mindmap)">
                    <explorer ng-model="mindmap.selected"
                              on-open="vm.openMindmap(mindmap)" ng-change="vm.selectMindmap()">


                        <section class="domino cyan">
                            <div class="top">
                                <img class="absolute" skin-src="[[vm.getMindmapThumbnail(mindmap)]]"/>
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <div>
                                            <strong class="ressource-name" tooltip="[[m.name]]">[[mindmap.name]]</strong>
                                        </div>
                                        <div class="owner">[[mindmap.owner.displayName]]</div>
                                        <div class="date">[[vm.formatDate(mindmap.modified)]]</div>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </explorer>
                </div>

            </div>


        </article>
        <div class="emptyscreen ng-scope" ng-if="vm.folders.length == 0 && vm.mindmapsItem.length == 0">
            <h2 class="emptyscreen-header">
                <i18n><span class="no-style ng-scope">Faites germer les bonnes idées !</span></i18n>
            </h2>
            <img class="emptyscreen-image__mini" src="/mindmap/public/img/empty-mindmap.svg">
            <p class="emptyscreen-footer">
                <i18n><span class="no-style ng-scope">Fatigué de laisser filer vos idées de génie ? L'appli Carte mentale permet non seulement de les noter, mais aussi d'y relier toutes les réflexions qui en découlent ! À tester absolument.</span>
                </i18n>
            </p>
            <a class="button ng-scope" ng-click="vm.newMindmap()">

                <i18n><span class="no-style ng-scope">Créer une carte mentale</span></i18n>
            </a>
        </div>
    </div>


</section>





