{
    "name": "{{ mindmapVersion }}",
    "config": {
        "main": "net.atos.entng.mindmap.Mindmap",
        "port": 8666,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "auto-redeploy": false,
        "app-name": "Mindmap",
        "app-address": "/mindmap",
        "app-icon": "mindmap-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        "entcore.port": 8009,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 17
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        }
    }
}