@page {
    margin: 20cm;
}

svg {
    max-height: 160mm;
    max-width: 280mm;
}

#mindplot-canvas {
    position: static;
    background-image: none;
    background-color: white;
    width: auto;
    height: auto;


}